:root {
    --cuadrado-ancho: 100px;
}

@keyframes cuadrado {
    /* from {
        background-color: red;
    }
    to {
        background-color: blue;
    } */

    0% {
        top: 0;
        left: 0;
        background-color: red;
    }

    25% {
        top: 0;
        left: calc(100% - var(--cuadrado-ancho));
        background-color: green;
    }

    50% {
        top: 50vh;
        left: calc(100% - var(--cuadrado-ancho));
        background-color: red;
        border-radius: 50%;
    }

    75% {
        top: 50vh;
        left: 0;
        background-color: violet;
    }

    100% {
        top: 0;
        left: 0;
        background-color: blue;
    }
}

div {
    position: relative;
    width: var(--cuadrado-ancho);
    height: 100px;
    background-color: darkorange;
    animation-name: cuadrado;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}