img {
    transition: transform 2s;
}

img:hover {
    /* transform: translate(100px, 50px); */
    /* transform: scale(50%, 130%); */
    /* transform: rotate(-90deg); */
    /* transform: skewX(-45deg); */
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}