@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: blueviolet;
}

h1, p {
    color: azure;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #1900ff;
    font-family: 'Montserrat', sans-serif;
}

.color-azul {
    color: blue;
}