:root {
    --color-destacado: red;
}

body {
    border: 3px solid blue;
    width: 50vw;
}

div {
    border: 3px solid brown;
    width: 50vw;
    font-size: 10px;
}

p {
    width: 100vw; /* viewport width */
    font-size: 1.5em;
}

.texto-destacado {
    font-size: 1.5rem;
    color: var(--color-destacado);
}