
div {
    margin: .3em;
    display: inline-block;
    background-color: red;
    height: 30vh;
    width: 23%;
    color: yellow;
    padding: .3em;
    box-sizing: border-box;
}

body :nth-child(2) {
    background-color: black;
    color: white;
}

p {
    margin: 0;
    padding: 0;
    font-size: 3em;
}